
* {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  position: relative;
}

a:active, a:focus, a:hover {
  text-decoration: none !important;
  text-transform: none !important;
}

.body h1,h2,h3,h4,h5,h6 {
  color: #414141;
  font-weight: 600;
}

@import "frontpage";
@import "registration";
@import "pastevents";

@media (min-width: 0px) and (max-width: 850px){
  .asa-logo {
	width: 300px;
	height: 120px;
  }
  
  .splash-bg {
	width: 200vh;
	height: 200vh;
	
  }
  
  .bg-wrapper {
	width: 100vw;
	height: -webkit-fill-available;
	top: auto !important;
  }
  
  .prize-view {
	display: block;
	margin: auto;
	width: max-content;
  }
  
  .prize-view .prize-item {
	margin: 30px 0 100px 0;

  }

  .form-row-start {
	margin: 10px !important;
  }

  .form-row-start .animated-form:last-child {
	margin: 0;
  }

  .post-container {
	padding: 0;
  }
  

}

@media (min-width: 0px) and (max-width: 1100px) {
  .award-wrapper {
	display: block;
	padding: 10px;
  }

  .award-wrapper .body {
	width: auto;
	height: auto;
  }

  .picture {
	width: 100%;
	height: auto;
  }

  .award-wrapper>header {
	width: auto;
  }
}

@media (min-width: 851px) and (max-width: 1000px) {
  .prize-view .prize-item .prize-block {
	width: 250px;
  }
}


@media (min-width: 768px){
  
  .register-wrapper {
	width: 100% !important;
  }
  
  .container {
    width: 720px !important;
	
  }
  
  .bg-wrapper {
	top: 55%;
  }
  
}

@media (min-width: 992px){
  
  .register-wrapper {
	width: 924px !important;
  }
  
  .container {
    width: 800px !important;
  }

  .bg-wrapper {
	top: 40%;
  }
}

@media (min-width: 1200px){

  .register-wrapper {
	width: 1140px !important;
  }
  
  .container {
    width: 1180px !important;
  }

  .bg-wrapper {
	top: 35%;
  }
}

@media (min-width: 1400px){
  .bg-wrapper {
	top: 30%;
  }
}
